[Desktop Entry]
Type=Application
Name=VikiCAD
GenericName=CAD 2D/3D
Comment=2D drafting and 3D solid CAD
Comment[fr]=Dessin technique 2D et solides 3D
Exec=vikicad %f
Icon=vikicad
Terminal=false
Categories=Graphics;Engineering;
MimeType=application/x-vikicad;image/vnd.dxf;image/vnd.dwg;
StartupWMClass=vikicad
